<ion-header [translucent]="true">
  <ion-toolbar style="background-color: #50cac0;">
    <ion-title style="color: white; font-size: 20px;">TypeScript </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <button ion-button style=" color: rgb(14, 219, 75);" (click)="showPage1()">a01-hello world</button>
    </ion-item>
    <ion-item>
      <button ion-button style=" color: rgb(14, 219, 75);" (click)="showPage2()">a02-数据类型、数组、元组</button>
    </ion-item>
  </ion-list>
</ion-content>
